*/node_modules/
dist/
api/local.settings.json
node_modules/
src/web/node_modules/
infra/parameters.bicepparam
node_modules/
deployed_index_post_upload.html
job_83962613395_logs.zip
deployed_index_post_upload.html
job_83962613395_logs.zip
recent_runs_after_fix.json
run_jobs_dist_upload.json
run_logs.zip
recent_runs.json
